.chat-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-content .chat-current-languge {
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: #fafafa;
    color: #262626;
}

.chat-content .chat-messages {
    flex-grow: 0;
    overflow-y: auto;
    background: #fff;
    min-height: calc(100% - 62px);
}

.chat-content .chat-message {
    margin-bottom: 0;
}

.chat-content .chat-message span.time {
    color: #262626;
    font-weight: 300;
}

.chat-content .chat-message a.author {
    color: #808019;
    font-weight: 400;
    text-decoration: none;
}

.chat-content .chat-message span.message {
    color: #262626;
    font-weight: 700;
}

.chat-content .chat-form {
    min-height: 40px;
    display: flex;
    flex-direction: row;
}

.chat-content .chat-form .form-input {
    flex-basis: 90%;
}

.chat-content .chat-form .form-input input {
    border: 1px solid #eb555e;
    border-radius: 3px 0 0 3px;
    line-height: 27px;
    border-right: 0;
}

.chat-content .chat-form .btn-languages {
    flex-basis: 10%;
}

.chat-content .chat-form .btn-languages button {
    width: 100%;
    height: 100%;
}